<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Resultado da Pesquisa</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src='main.js'></script>
</head>

<body>
  <div class="container mt-5">
    <div class="card mt-2 mb-2">
      <div class="card-body ">
        <h5 class="display-5 text-center">Resultado do Endereço Por CEP</h5>
        <table class="table mt-5">
          <thead class="table-striped">
            <tr>
              <th scope="col">Rua</th>
              <th scope="col">Cidade</th>
              <th scope="col">Bairro</th>
              <th scope="col">UF</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-secondary">
              <td><%= dado.logradouro %></td>
              <td><%= dado.localidade %></td>
              <td><%= dado.bairro %></td>
              <td><%= dado.uf %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <a href="/" class="btn btn-outline-success">Procurar por outro CEP</a>
  </div>

  <footer class="text-center p-3">
    <p class="text-center">&#x2764; Nayara Suelen - Recode Pro &copy;
      <script>
        const dateAtual = new Date().getFullYear()
        document.write(dateAtual)
      </script>
    </p>
  </footer>
</body>

</html>